@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --font-sub-judul: "Figtree", sans-serif;
  --font-secondary: "Nunito Sans", sans-serif;
  /* color */
  --yellow: #eab201;
  --gray: #fcfcfc;
  --darkgreen: #006680;
  --orange: #ff9d05;
  --green: #23a455;
  --blue: #4285f4;
  --black: #001524;
  /* font size */
  --font-size-sub-judul: clamp(24px, 4vw, 48px);
  --font-size-secondary: clamp(14px, 1, 5vw, 28px);
}

/* tampilan mobile */
.wrap {
  max-width: 1543px;
}
.container {
  padding: 0px 20px;
}
/* navigation */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #001524;  */
}
header {
  padding: 10px 0px;
  background-color: var(--gray);
  /* background-color: #006680; */
}
header .container > img {
  width: 80px;
  height: auto;
}
header .container nav {
  visibility: hidden;
}
header .container .burger-menu {
  background-color: #23a455;
  border-radius: 4px;
  padding: 5px 5px 2px 5px;
}
/* hero */
.hero {
  background-color: var(--gray);
}
.hero .container {
  display: flex;
  padding: 30px 0px 30px 0px;
  flex-direction: column;
}
.hero .container .cta {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero .container .img-hero {
  order: -1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .container .img-hero > img {
  width: 70%;
}
.hero .container .cta > h1 {
  font-family: var(--font-sub-judul);
  font-size: var(--font-size-sub-judul);
  width: 80%;
}
.hero .container .cta > p {
  font-family: var(--font-secondary);
  font-size: var(--font-size-secondary);
  width: 90%;
  margin: 15px 0px;
}
.hero .container .cta > a {
  text-decoration: none;
  padding: 13px 15px;
  background-color: var(--yellow);
  color: white;
  border-radius: 4px;
  font-family: var(--font-subjudul);
  font-size: var(--font-secondary);
  font-weight: 700;
}
/* section1 */
.section-satu {
  padding: 30px 0px 30px 0px;
}

.section-satu .container .gambar {
  display: flex;
  justify-content: center;
}
.section-satu .container .gambar img {
  width: 70%;
}
.section-satu .container .text h2 {
  font-family: var(--font-sub-judul);
  font-size: var(--font-size-sub-judul);
  padding: 10px 0px;
}
.section-satu .container .text p {
  font-family: var(--font-secondary);
  font-size: var(--font-size-secondary);
  padding: 10px 0px 0px 0px;
}
/* section2 */
.section-dua {
  padding: 30px 0px 30px 0px;
  /* background-color:black; */
}

.section-dua .container .gambar {
  display: flex;
  justify-content: center;
}
.section-dua .container .gambar img {
  width: 80%;
}
.section-dua .container .text h2 {
  font-family: var(--font-sub-judul);
  font-size: var(--font-size-sub-judul);
  padding: 10px 0px;
}
.section-dua .container .text p {
  font-family: var(--font-secondary);
  font-size: var(--font-size-secondary);
  padding: 10px 0px 50px 0px;
}
/* section3 */
.section-tiga {
  padding: 30px 0px 30px 0px;
  /* background-color: #006680; */
}
.section-tiga .container .gambar {
  display: flex;
  justify-content: center;
}
.section-tiga .container .gambar img {
  width: 75%;
}
.section-tiga .container .text h2 {
  font-family: var(--font-sub-judul);
  font-size: var(--font-size-sub-judul);
  padding: 10px 0px;
}
.section-tiga .container .text p {
  font-family: var(--font-secondary);
  font-size: var(--font-size-secondary);
  padding: 10px 0px 0px 0px;
}
/* section 4 */
.section-empat {
  padding: 30px 10px;
  background-color: #006680;
}
.section-empat h2 {
  text-align: center;
}
.section-empat .container > div {
  margin: 20px;
  gap: 20%;
  padding: 10px;
}

.section-empat .container {
  flex-direction: column;
  padding: 10px 0px;
  margin: 10px 15px;
}
.section-empat .container .step-satu {
  background-color: #fcfcfc;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.section-empat .container .step-satu img {
  width: 45%;
}
.section-empat .container .step-dua {
  background-color: #fcfcfc;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.section-empat .container .step-dua img {
  width: 60%;
}
.section-empat .container .step-tiga {
  background-color: #fcfcfc;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.section-empat .container .step-tiga img {
  width: 65%;
}
.section-empat .container .step-empat {
  background-color: #fcfcfc;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.section-empat .container .step-empat img {
  width: 45%;
}
.section-empat .container .step-lima {
  background-color: #fcfcfc;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.section-empat .container .step-lima img {
  width: 60%;
}
.section-empat .container .step-enam {
  background-color: #fcfcfc;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-empat .container .step-enam img {
  width: 60%;
}
.section-empat .container {
  justify-content: center;
  align-items: center;
  display: flex;
}
.section-empat .container a {
  text-decoration: none;
  padding: 10px 12px;
  background-color:yellow ;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 150px;
}
.trea-angel {
    height: 0;
     width: 0;
     border-left: 14px solid transparent;
     border-right: 14px solid transparent;
     border-top: 13px solid var(--darkgreen);
   }
     .wrap-angel {
     display: flex;
     justify-content: center;
   }
/* seection 5 */
.section-lima .container .card {
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(201, 201, 201, 1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(201, 201, 201, 1);
  box-shadow: 0px 0px 2px 0px rgba(201, 201, 201, 1);
  margin-bottom: 20px;
}
.section-lima .container .path  {
    text-align: center;
}

.section-lima .container .card img {
  width: 100%;
  align-self: center;
}
.section-lima .container .card a {
  text-decoration: none;
  margin-bottom: 30px;
  margin-left: 10px;
 

}
.section-lima .container {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px;
  display: flex;
  align-items:center ;
  justify-content: center;
  flex-direction: column;
}
.section-lima .container .card > p {
  margin: 10px 10px;
  font-family: var(--font-secondary);
  font-size: var(--font-size-secondary);
}
.section-lima .container .card > h2 {
  margin: 10px 10px 0px 0px;
  margin-left: 10px;
  gap: 10px;
  font-family: var(--font-sub-judul);
  font-size: var(--font-size-sub-judul);
}
.section-lima .pram {
    text-decoration: none;
    justify-content: center;
    display: flex;
    background-color: #eab201;
    padding: 8px 1px;
    margin: 10px 120px ;
    margin-top:10px ;
    width: 150px;
}
.section-enam h2 {
    text-align:center ;
    padding: 20px;
}
.section-enam  .sekertariat > p {
display: flex;
justify-content: center;
align-items: center;
background-color: #eab201;
padding: 8px 20px;

}


.section-enam .sekertariat {
 justify-content: center;
 width: 85%;

}
/* tampilan iped */
@media (min-width: 768px) {
}

/* tampilan dekstop/ atu makebook */
@media (min-width: 1024px) {
}
/* tampilan dekstop */
@media (min-width: 1280px) {
}
