@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --font-sub-judul: "Figtree", sans-serif;
  --font-secondary: "Nunito Sans", sans-serif;
  /* color */
  --yellow: #eab201;
  --gray: #fcfcfc;
  --darkgreen: #006680;
  --orange: #ff9d05;
  --green: #23a455;
  --blue: #4285f4;
  --black: #001524;
  /* font size */
  --font-size-sub-judul: clamp(24px, 4vw, 48px);
  --font-size-secondary: clamp(14px, 1, 5vw, 28px);
  --font-size-khusus: clamp(14px, 4, 5vw, 48px);
}

/* tampilan mobile */
.wrap {
  max-width: 1543px;
}
.container {
  padding: 0px 20px;
}
/* navigation */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #001524;  */
}
header {
  padding: 10px 0px;
  background-color: var(--gray);
  /* background-color: #006680; */
}
header .container > img {
  width: 80px;
  height: auto;
}
header .container nav {
  visibility: hidden;
}
header .container .burger-menu {
  background-color: #23a455;
  border-radius: 4px;
  padding: 5px 5px 2px 5px;
}
/* hero */
.hero {
  background-color: var(--gray);
}
.hero .container {
  display: flex;
  padding: 30px 0px 30px 0px;
  flex-direction: column;
}
.hero .container .cta {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero .container .img-hero {
  order: -1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .container .img-hero > img {
  width: 70%;
}
.hero .container .cta > h1 {
  font-family: var(--font-sub-judul);
  font-size: var(--font-size-sub-judul);
  width: 80%;
}
.hero .container .cta > p {
  font-family: var(--font-secondary);
  font-size: var(--font-size-secondary);
  width: 90%;
  margin: 15px 0px;
}
.hero .container .cta > a {
  text-decoration: none;
  padding: 13px 15px;
  background-color: var(--yellow);
  color: white;
  border-radius: 4px;
  font-family: var(--font-subjudul);
  font-size: var(--font-secondary);
  font-weight: 700;
}
/* section1 */
.section-satu {
  padding: 30px 0px 30px 0px;
}

.section-satu .container .gambar {
  display: flex;
  justify-content: center;
}
.section-satu .container .gambar img {
  width: 70%;
}
.section-satu .container .text h2 {
  font-family: var(--font-sub-judul);
  font-size: var(--font-size-sub-judul);
  padding: 10px 0px;
}
.section-satu .container .text p {
  font-family: var(--font-secondary);
  font-size: var(--font-size-secondary);
  padding: 10px 0px 0px 0px;
}
/* section2 */
.section-dua {
  padding: 30px 0px 30px 0px;
  /* background-color:black; */
}

.section-dua .container .gambar {
  display: flex;
  justify-content: center;
}
.section-dua .container .gambar img {
  width: 80%;
}
.section-dua .container .text h2 {
  font-family: var(--font-sub-judul);
  font-size: var(--font-size-sub-judul);
  padding: 10px 0px;
}
.section-dua .container .text p {
  font-family: var(--font-secondary);
  font-size: var(--font-size-secondary);
  padding: 10px 0px 50px 0px;
}
/* section3 */
.section-tiga {
  padding: 30px 0px 30px 0px;
  /* background-color: #006680; */
}
.section-tiga .container .gambar {
  display: flex;
  justify-content: center;
}
.section-tiga .container .gambar img {
  width: 75%;
}
.section-tiga .container .text h2 {
  font-family: var(--font-sub-judul);
  font-size: var(--font-size-sub-judul);
  padding: 10px 0px;
}
.section-tiga .container .text p {
  font-family: var(--font-secondary);
  font-size: var(--font-size-secondary);
  padding: 10px 0px 0px 0px;
}
/* section 4 */
.section-empat {
  padding: 20px 0px;
  background-color: #006680;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.section-empat h2 {
  font-family: var(--font-sub-judul);
  font-size: var(--font-size-sub-judul);
  color: #fcfcfc;
  width: 75%;
  margin: 10px 0px;
}
.section-empat .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #4285f4;
  gap: 20px;
}

.section-empat .container > div {
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 60px;
}
.section-empat .container div > img {
  width: 50%;
  background-color: white;
}
.section-empat .container .step-satu > img {
  width: 38%;
}
.section-empat .container div > h3 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-khusus);
}
.section-empat .container .step-empat > img {
  width: 38%;
}
.section-empat > a {
  text-decoration: none;
  background-color: #eab201;
  color: #fcfcfc;
  font-family: var(--font-secondary);
  padding: 8px 13px;
  margin: 10px;
  border-radius: 100px;
}
.trea-angel {
  height: 0;
  width: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 13px solid var(--darkgreen);
}
.wrap-angel {
  display: flex;
  justify-content: center;
}
/* section 5 */
.section-lima {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0px;
  justify-content: space-evenly;
  gap: 30px;
}
.section-lima > h2 {
  width: 80%;
  text-align: center;
  font-family: var(--font-sub-judul);
  font-size: var(--font-size-sub-judul);
}
.section-lima .container .card > p {
  font-family: var(--font-secondary);
  font-size: var(--font-size-secondary);
}
.section-lima .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section-lima .container .card img {
  width: 100%;
}
.section-lima .container div > a {
  text-decoration: none;
  font-family: var(--font-secondary);
  font-size: var(--font-size-secondary);
}
.section-lima .container .card {
  /* color: #006680; */
  background-color: white;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(209, 209, 209, 0.75);
  -moz-box-shadow: 0px 0px 2px 1px rgba(209, 209, 209, 0.75);
  box-shadow: 0px 0px 2px 1px rgba(209, 209, 209, 0.75);
}
.section-lima .container .card div {
  padding: 10px 5px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.section-lima > a {
  text-decoration: none;
  padding: 8px 13px;
  background-color: #eab201;
  color: white;
  font-size: var(--font-secondary);
  font-size: var(--font-size-secondary);
  border-radius: 10px;
}
/* section 6 */
.section-enam {
  padding: 50px 0px;
}
.section-enam .container {
  /* background-color: #eab201; */
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.section-enam .container .info-sekertariat > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section-enam .container .info-sekertariat div .text .btn-section {
  /* background-color: var(--blue); */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  gap: 10px;
}

.section-enam .container .info-sekertariat div .btn-section a:nth-child(1) {
  text-decoration: none;
  background-color: #23a455;
  color: #fcfcfc;
  padding: 8px 13px;
  border-radius: 20px;
  display: flex;
  gap: 5px;
}
.section-enam .container .info-sekertariat div .btn-section a:nth-child(2) {
  text-decoration: none;
  background-color: var(--orange);
  color: #fcfcfc;
  padding: 8px 13px;
  border-radius: 20px;
  display: flex;
  gap: 5px;
}
.section-enam .container .info-sekertariat div .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: #001524;  */
}
.section-enam .container .info-sekertariat div .text > h3 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-secondary);
}

/* .section-enam .container .sekertariat {
  background-color: #ff9d05;
} */

.section-enam .container .sekertariat > p {
  color: #fcfcfc;
  background-color: var(--darkgreen);
  padding: 13px 32px;
  border-radius: 2px;
  text-align: center;
  font-family: var(--font-sub-judul);
  /* font-size: var(--font-size-sub-judul); */
}
.section-enam .container > h2 {
  color: blue;
  font-family: var(--font-secondary);
  font-size: var(--font-size-sub-judul);
}
footer {
  /* text-align: center; */
  margin: 20px 0px;
  background-color: #001524;
}
footer .container {
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
footer .container .sosial-media {
  display: flex;
  gap: 40px;
}

footer .container > p {
  color: aliceblue;
  font-family: var(--font-secondary);
  font-size: var(--font-size-khusus);
}
footer .container .sosial-media a {
  text-decoration: none;
  color: aliceblue;
}
/* tampilan iped */
@media (min-width: 768px) {
   header .container nav {
    visibility: visible;
    gap: 30px;
    display: flex;
   }
   header .container .burger-menu {
    display: none;
   }
   header .container nav > a {
    text-decoration: none;
    font-family: var(--font-size-secondary);
    color: #001524;
   }
  .hero .container {
    flex-direction: row-reverse;
    padding: 30px 96px;
    /* background-color: yellow; */
  }
  .hero .container .cta {
    /* background-color: #006680; */
    text-align: left;
    justify-content: start;
    padding: 0px;
    align-items: start;
    margin: 0px;
    width: 60%;
  }
  .hero .container .cta > h1 {
    margin: 0px;
    padding: 0px;
  }
  .hero .container .img-hero {
    /* background-color: blue; */
    width: 40%;
  }
  .section-satu .container {
    flex-direction: row;
    display: flex;
    /* background-color: #006680; */
    /* padding: 30px 96px; */
  }
  .section-satu .container .gambar {
    /* background-color: var(--yellow); */
    width: 40%;
  }
  .section-satu .container .text > h2 {
    margin: 0px;
    padding: 0px;
  }
  .section-satu .container .text {
    text-align: left;
    justify-content: start;
    padding: 0px;
    align-items: start;
    margin: 0px;
    width: 60%;
    /* background-color: #23a455; */
  }
  .section-dua .container {
    flex-direction: row;
    display: flex;
    /* background-color: #006680; */
    padding: 0px 96px;
    margin: 10px;
    /* justify-content: space-around; */
  }
  .section-dua .container .gambar {
    /* background-color: var(--yellow); */
    width: 35%;
  }
  .section-dua .container .text > h2 {
    margin: 0px;
    padding: 0px;
    width: 90%;
  }
  .section-dua .container .text {
    display: flex;
    text-align: left;
    align-items: start;
    justify-content: space-around;
    padding: 60px 5px;
    margin: 0px;
    width: 60%;
    flex-direction: column;
    /* background-color: #23a455; */
  }
  .section-tiga .container {
    flex-direction: row;
    display: flex;
    /* background-color: #006680; */
    padding: 0px 96px;
    margin: 10px;
  }
  .section-tiga .container .gambar {
    /* background-color: var(--yellow); */
    width: 30%;
  }
  .section-tiga .container .text > h2 {
    margin: 0px;
    padding: 0px;
    width: 70%;
  }
  .section-tiga .container .text {
    text-align: left;
    padding: 60px 5px;
    gap: 30px;
    margin: 0px;
    width: 60%;
    justify-content: space-around;
    /* background-color: #23a455; */
  }

  .section-empat .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section-empat h2 {
    font-size: xx-large;
  }
  .section-empat .container .step-satu {
    width: 30%;
  }

  .section-empat .container .step-dua {
    width: 30%;
  }

  .section-empat .container .step-tiga {
    width: 30%;
  }

  .section-empat .container .step-empat {
    width: 30%;
  }

  .section-empat .container .step-lima {
    width: 30%;
  }

  .section-empat .container .step-enam {
    width: 30%;
  }
  .section-lima .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 20px 40px;
  }
  .section-lima h2 {
    font-size: xx-large;
  }
  .section-lima .container .card {
    width: 30%;
  }
  .section-enam .container .info-sekertariat {
    display: flex;
    flex-direction: row;
  }

  .section-enam .container .info-sekertariat div:nth-child(2) {
    width: 50%;
  }
  footer .container {
  flex-direction:row;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom:40px ;
  }
}
/* tampilan dekstop/ atu makebook */
@media (min-width: 1024px) {

  .hero .container {
    flex-direction: row-reverse;
    padding: 30px 96px;
    /* background-color: yellow; */
  }
  .hero .container .cta {
    /* background-color: #006680; */
    text-align: left;
    justify-content: start;
    padding: 0px;
    align-items: start;
    margin: 0px;
    width: 60%;
  }
  .hero .container .cta > h1 {
    margin: 0px;
    padding: 0px;
  }
  .hero .container .img-hero {
    /* background-color: blue; */
    width: 40%;
  }
  .section-satu .container {
    flex-direction: row;
    display: flex;
    /* background-color: #006680; */
    /* padding: 30px 96px; */
  }
  .section-satu .container .gambar {
    /* background-color: var(--yellow); */
    width: 40%;
  }
  .section-satu .container .text > h2 {
    margin: 0px;
    padding: 0px;
  }
  .section-satu .container .text {
    text-align: left;
    justify-content: start;
    padding: 0px;
    align-items: start;
    margin: 0px;
    width: 60%;
    /* background-color: #23a455; */
  }
  .section-dua .container {
    flex-direction: row;
    display: flex;
    /* background-color: #006680; */
    padding: 0px 96px;
    margin: 10px;
    /* justify-content: space-around; */
  }
  .section-dua .container .gambar {
    /* background-color: var(--yellow); */
    width: 35%;
  }
  .section-dua .container .text > h2 {
    margin: 0px;
    padding: 0px;
    width: 90%;
  }
  .section-dua .container .text {
    display: flex;
    text-align: left;
    align-items: start;
    justify-content: space-around;
    padding: 60px 5px;
    margin: 0px;
    width: 60%;
    flex-direction: column;
    /* background-color: #23a455; */
  }
  .section-tiga .container {
    flex-direction: row;
    display: flex;
    /* background-color: #006680; */
    padding: 0px 96px;
    margin: 10px;
  }
  .section-tiga .container .gambar {
    /* background-color: var(--yellow); */
    width: 30%;
  }
  .section-tiga .container .text > h2 {
    margin: 0px;
    padding: 0px;
    width: 70%;
  }
  .section-tiga .container .text {
    text-align: left;
    padding: 60px 5px;
    gap: 30px;
    margin: 0px;
    width: 60%;
    justify-content: space-around;
    /* background-color: #23a455; */
  }

  .section-empat .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section-empat h2 {
    font-size: xx-large;
  }
  .section-empat .container .step-satu {
    width: 30%;
  }

  .section-empat .container .step-dua {
    width: 30%;
  }

  .section-empat .container .step-tiga {
    width: 30%;
  }

  .section-empat .container .step-empat {
    width: 30%;
  }

  .section-empat .container .step-lima {
    width: 30%;
  }

  .section-empat .container .step-enam {
    width: 30%;
  }
  .section-lima .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 20px 40px;
  }
  .section-lima h2 {
    font-size: xx-large;
  }
  .section-lima .container .card {
    width: 30%;
  }
  .section-enam .container .info-sekertariat {
    display: flex;
    flex-direction: row;
  }

  .section-enam .container .info-sekertariat div:nth-child(2) {
    width: 50%;
  }
  footer .container {
  flex-direction:row;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom:40px ;
  }
}
/* tampilan dekstop */
@media (min-width: 1280px) {
}
